@model BookStore.DomainModels.OrderModels.Order

@{
    ViewBag.Title = "OrderDitels";
    Layout = "~/Areas/PublicArea/Views/Shared/_PublicLayout.cshtml";
}

<h2>OrderDitels</h2>

<div>
    <h4>Order</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MyItems)
        </dt>
      
            @foreach (var item in Model.MyItems)
            {
                <tr>
                    <td>@item.Name</td>

                    <td>@item.Price</td>

                    <td>@item.AmountToOrder</td>
                </tr>
            }
       
        <dt>
            @Html.DisplayNameFor(model => model.TotalPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalPrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.client.FullName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.client.FullName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.client.Mail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.client.Mail)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.client.PhonNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.client.PhonNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.client.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.client.Address.City)   @Html.DisplayFor(model => model.client.Address.Street)

            @Html.DisplayFor(model => model.client.Address.HouseNumber)     @Html.DisplayFor(model => model.client.Address.ZipNumber)
        </dd>
        <dd>
            @ViewBag.ShipingMethod

        </dd>

    </dl>
    <div>סוג משלוח @Model.ShipingMethodId</div>


    <p>
        @Html.ActionLink("לתשלום", "payment", new { OrderId = Model.Id }) |||
        @Html.ActionLink("לתיקון פרטי לקוח", "EditClient", new { ClintId = Model.client.Id })|||
        @Html.ActionLink("לשינוי במוצרי ההזמנה", "EditOrder", new { OrderId = Model.Id })

    </p>
</div>


