@model BookStore.Areas.AdminArea.Data.cascadVM






<h2>Index</h2>

<select id="Category">
    <option value="">בחר קטגוריה</option>
    @foreach (var category in Model.categories)
    {
        <option  value="@category.Id">@category.Name </option>
    }
</select>
<form id="Item">

</form>
<select multiple id="Item">
    
   
</select>
<div class="form-group">
    @*@Html.LabelFor(x => Model.selectedItemId, htmlAttributes: new { @class = "control-label col-md-2" })*@
    <div class="col-md-5">
        @Html.DropDownListFor(x => Model.selectedItemId, new SelectList(Model.items, "Value", "Text"), htmlAttributes: new { @class = "form-control", @*@id = "Item"*@ })
        @Html.ValidationMessageFor(x => x.selectedItemId, "", new { @class = "text-danger" })
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jquery")
    <script type="text/javascript">
        
        $('#Category').change(function () {
            var selectedCategory = $("#Category").val();
                var ItemsSelect = $('#Item');
                ItemsSelect.empty();
            if (selectedCategory != null && selectedCategory != '') {
                    $.getJSON('@Url.Action("GetItems")', { CategoryId: selectedCategory }, function (Items) {
                        if (Items != null && !jQuery.isEmptyObject(Items))
                        {
                            ItemsSelect.append($('<input type="checkbox"/>', {
                                value: null,
                                text: ""
                            }));
                            $.each(Items, function (index,item) {
                               // item2 = JSON.parse(data);
                               
                                ItemsSelect.append($('<input type="checkbox"/>', {
                                    value: item.Value,
                                    text: item.Text 
                                }));
                            });
                        };
                    });
                }
            });
    </script>
    }